*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: black;
    color: antiquewhite
}
#box{
    margin: 2rem;
    padding: 2rem;
    background-color: red;
    font-size: 2rem;
    text-align: center;

}
input{
    background-color: yellow;
    cursor: none;
    border: none;
    width: 80%;
    height: 40px;
    margin: 10px;
    font-size: 25px;
    padding: 5px;

}