* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    text-align: center;
    background-color: black;
    color: antiquewhite;
}

.container {
    background: linear-gradient(to right, #01c5c9, hsl(235, 100%, 23%));
    text-align: center;
    color: white;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container h2, p {
    margin: 10px;
}

#form {
    display: flex;           
    width: 80%;              
    max-width: 500px;       
    margin: 15px auto;       
    border: 1px solid white; 
    border-radius: 50px;    
    padding: 4px;            
    background: rgba(255,255,255, 0.1);
}

#form input[type="email"] {
    flex-grow: 1;            
    background: transparent; 
    border: none;            
    outline: none;           
    color: white;            
    padding-left: 15px;     
    font-size: 1rem;
}

#form input[type="email"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#form input[type="submit"] {
    width: auto;             
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;     
    padding: 8px 25px;      
    cursor: pointer;
    font-weight: bold;
}