*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: black;
    color: antiquewhite
}
#box{
    margin: 2rem;
    padding: 2rem;
    background-color: red;
    font-size: 2rem;
    text-align: center;
}